.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px; 
}

.tt{
  color:white;
}

.imgr {
  border-radius: 50%;
    display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.centercr{
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 3px solid #F2E2CE;
  text-align: center;
  background-color:white;
  border-radius: 15px;
  background-color:#D98943;
  color:white;
}

.fs{
  position: absolute; 
  width: 100%; 
  height: 100%;
  left: 0;
  background-color:#F2E2CE;
}

.btm{
  width:100px;
  color:white;
}

.txta {
  display: block;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

.cardy {
    background-color:#D98943;
    border: none;
  }



/* Color Theme Swatches in Hex */
.Deadvlei,-Namibia-1-hex { color: #035AA6; }
.Deadvlei,-Namibia-2-hex { color: #0477BF; }
.Deadvlei,-Namibia-3-hex { color: #049DD9; }
.Deadvlei,-Namibia-4-hex { color: #F2E2CE; }
.Deadvlei,-Namibia-5-hex { color: #D98943; }

/* Color Theme Swatches in RGBA */
.Deadvlei,-Namibia-1-rgba { color: rgba(3, 89, 165, 1); }
.Deadvlei,-Namibia-2-rgba { color: rgba(3, 119, 191, 1); }
.Deadvlei,-Namibia-3-rgba { color: rgba(4, 156, 216, 1); }
.Deadvlei,-Namibia-4-rgba { color: rgba(242, 225, 205, 1); }
.Deadvlei,-Namibia-5-rgba { color: rgba(216, 136, 67, 1); }